{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block registration %}

<div id="register" >
    <h2>
        NEW USER REGISTRATION
    </h2>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <h2 style="text-align:center">{% if message.tags %}{% endif %}{{ message }}</h2>
            {% endfor %}
        </ul>
    {% endif %}

    <form  name ="form" class="user-form" method="post" onsubmit="return check(this)" style="overflow:scroll; height:450px;" >

        {% csrf_token %}
        <div class="field_wrap"><b>First Name:</b><input class="form-control" type="text" required autocomplete="off" name="first_name" placeholder="First name" onkeyup="validateName()"></div>
        <div class="registrationFormAlert" id="divCheckName"></div>
        <br/><div class="field_wrap"><b >Last Name:</b><input class="form-control" type="text" required autocomplete="off" name="last_name" placeholder="Last name"></div>
        <br/><div class="field_wrap"><b>E-mail:</b><input class="form-control" type="email" required autocomplete="off" name="email" placeholder="Your e-mail"/></div>
        <br/><div class="td"><b>Password:</b><input class="form-control" type="password" required autocomplete="off" id="txtNewPassword" name="password" placeholder="Enter a password"/></div>
        <br/><div class="td"><b>Confirm Password:</b><input class="form-control" type="password" required autocomplete="off" id="txtConfirmPassword" name="password1" onChange="checkPasswordMatch();" placeholder="Retype the password"/></div>
        <div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
        <br/><div class="field_wrap"><b>Phone Number:</b><input class="form-control" type="number"  required autocomplete="off" name="phone_no" placeholder="Your Phone Number" onchange="checkPhoneNumber();"/></div>
        <div class="registrationFormAlert" id="divCheckPhoneNumberMatch"></div>
        <br/><div class="field_wrap"><b>Aadhar Number:</b><input class="form-control" type="number" required autocomplete="off" name="aadhar_no" placeholder="Your Aadhar Number"/></div>
        <br/><div class="field_wrap"><b>Address:</b><input class="form-control" type="text" required autocomplete="off" name="address" placeholder="Your address"/></div>
        <br/><div class="field_wrap"><b>Location:</b><input class="form-control" type="text" required autocomplete="off" name="locality" placeholder="Your location"/></div>
        <br/><div class="field_wrap"><b>District:</b><input class="form-control" type="text" required autocomplete="off" name="district" placeholder="Your district"/></div>
        <br/><div class="field_wrap"><b>State:</b><input class="form-control" type="text" required autocomplete="off" name="state" placeholder="State"/></div>
        <br/><div class="field_wrap"><b>Pincode:</b><input class="form-control" type="number"  autocomplete="off" name="pincode" placeholder="Pincode" onchange="checkPincode();"/></div>
        <div class="registrationFormAlert" id="divCheckPincode"></div>
        <br/>

        <div style="text-align:center">
            <center><button id='submitBtn' class="btn btn-primary" type="submit" name="submit" >Register</button></center>
        </div>
    </form>

</div>
    <script type="text/javascript" language="JavaScript">
          function checkPasswordMatch() {
                    var password = $("#txtNewPassword").val();
                    var confirmPassword = $("#txtConfirmPassword").val();

                    if (password != confirmPassword)
                        $("#divCheckPasswordMatch").html("Passwords do not match!");
                    else
                        $("#divCheckPasswordMatch").html("Passwords match.");
                }

                $(document).ready(function () {
                   $("#txtConfirmPassword").keyup(checkPasswordMatch);
                });
          function check(st) {
                    if (st.password.value != st.password1.value)
                    {
                        alert('Passwords don\'t match!');
                        return false;
                    } else {
                        return true;
                    }
                }

{#          function checkPincode() {#}
{#              if (form.pincode.length !=6) {#}
{#                  $("#divCheckPincode").html("Enter a valid pincode");#}
{#                  return false;#}
{#              }#}
{##}
{##}
{#              else {#}
{#                  $("#divCheckPincode").html(" ");#}
{#                  return true;#}
{#              }#}
{#          }#}

          function checkPhoneNumber() {
              if(form.phone_no.value.length !=10) {
                  $("#divCheckPhoneNumberMatch").html("Enter a valid Phone Number without Country Code");
                  return false;
              }


                else
              {$("#divCheckPhoneNumberMatch").html(" ");
                  return true;
          }


          }
    </script>

{% endblock %}
#alert("Phone number should have minimum number");
